.hotelDetailsImagesContainer{
    display: grid;
    grid-template-columns:  repeat(4, 1fr);
    grid-template-rows:repeat(2, 1fr);
    margin: 30px auto 0 auto;
    /*max-width: 1100px;*/
    align-items: center;
    justify-content: center;
    max-height: 400px;
    gap: 10px;
}
.mainHotelDetailsImage {
    grid-column:1/ span 2;
    grid-row:1/ span 2;
}
.mainHotelDetailsImage>img{
    /*width:100%;*/
    object-fit: cover;
    width:720px;
    height:400px;
}
.gridHotelDetailsImage{
    width:350px;
    height:200px;
}
