.circle,
.custom {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top:30px;
}

.custom {
    flex-direction: column;
}

.balls {
    display: flex;
}

.ball {
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background-color: white;
    margin-right: 10px;
    animation: ball 0.5s ease infinite alternate;
}

.ball2 {
    animation-delay: 0.1s;
}

.ball3 {
    animation-delay: 0.2s;
}

@keyframes ball {
    to {
        transform: translateY(-10px);
    }
}
.customText {
    font-weight: 100;
}
